---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import BlogCard2 from "../components/blogCard2.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const techPosts = (await Astro.glob("./blog/tech/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
const improvementPosts = (
	await Astro.glob("./blog/improvement/*.{md,mdx}")
).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Bloggington"
			description="A list of Joe Malatesta's blog posts about tech, coding, and self improvement."
		/>
	</head>
	<body>
		<Header client:load />
		<main class="h-screen">
			<h1
				class="bg-gradient-to-t from-purple-400 to-pink-500 bg-clip-text p-5 text-center text-6xl font-extrabold text-transparent md:text-8xl"
			>
				Blogs
			</h1>
			<div class="my-4 flex flex-col justify-center md:flex-row">
				<div class="m-6">
					<h1 class="ml-2 text-3xl font-bold md:text-4xl">Tech Blogs</h1>
					<div class="flex flex-col items-center justify-center">
						<a href=""></a>
						{
							techPosts
								.slice(0, 4)
								.map((post) => (
									<BlogCard2
										title={post.frontmatter.title}
										description={post.frontmatter.cardDescription}
										date={post.frontmatter.pubDate}
										url={post.url}
									/>
								))
						}
					</div>
				</div>
				<div class="m-6">
					<h1 class="ml-2 text-3xl font-bold md:text-4xl">Self Improvement</h1>
					<div class="flex flex-col items-center justify-center">
						<a href=""></a>
						{
							improvementPosts
								.slice(0, 4)
								.map((post) => (
									<BlogCard2
										title={post.frontmatter.title}
										description={post.frontmatter.cardDescription}
										date={post.frontmatter.pubDate}
										url={post.url}
									/>
								))
						}
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
