---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
import BlogCard from '../components/blogCard.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Bloggington" description="A list of Joe Malatesta's blog posts about tech, coding, and self improvement." />
	</head>
	<body>
		<Header client:load/>
		<main>
			<!-- TECH BLOGS -->
			<div class="flex md:flex-row flex-col shadow-violet-300 shadow-xl my-6">
				<div class="md:w-1/2 flex items-center justify-center flex-col mx-3">
					<h1 class="text-5xl text-bold m-2">Technology</h1>
					<p class="text-2xl text-center">My rash opinions and excitement regarding all things programming packed into words</p>
				</div>
				<div class="flex flex-col md:w-2/5 mx-3">
				{
					posts.slice(0,6).map((post) => (
						<BlogCard title={post.frontmatter.title} description={post.frontmatter.cardDescription} date={post.frontmatter.pubDate} url={post.url}/>
					))
				}
				</div>
			</div>
			<div class="flex flex-row shadow-violet-300 shadow-xl my-6">
				<div class="w-1/2 flex items-center justify-center flex-col mx-3">
					<h1 class="text-5xl text-bold m-2">Self Improvement</h1>
					<p class="text-2xl text-center">My rash opinions and excitement regarding all things programming packed into words</p>
				</div>
				<div class="flex flex-col w-2/5 mx-3">
				{
					posts.slice(0,6).map((post) => (
						<BlogCard title={post.frontmatter.title} description={post.frontmatter.cardDescription} date={post.frontmatter.pubDate} url={post.url}/>
					))
				}
				</div>
			</div>
			<div class="flex flex-col">
				<div class="flex items-center justify-center flex-col m-3">
					<h1 class="text-5xl text-bold m-2">Technology</h1>
					<p class="text-2xl text-center">My rash opinions and excitement regarding all things programming packed into words</p>
				</div>
				<div class="grid md:grid-cols-3 gap-4 mx-10 grid-cols-1">
				{
					posts.slice(0,6).map((post) => (
						<BlogCard title={post.frontmatter.title} description={post.frontmatter.cardDescription} date={post.frontmatter.pubDate} url={post.url}/>
					))
				}
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
