---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import BlogCard from "../components/blogCard.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const techPosts = (await Astro.glob("../pages/blog/tech/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
const improvementPosts = (
	await Astro.glob("../pages/blog/improvement/*.{md,mdx}")
).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---
<!-- <head>
	<BaseHead
		title="Bloggington"
		description="A list of Joe Malatesta's blog posts about tech, coding, and self improvement."
	/>
</head> -->
		<main>
			<h2
				class="bg-gradient-to-t from-purple-400 to-pink-500 bg-clip-text p-5 text-center text-5xl font-extrabold text-transparent lg:text-7xl"
			>
				Blogs
			</h2>
			<div class="my-4 flex flex-col justify-center md:flex-row">
				<div class="m-6">
					<h3 class="ml-2 text-3xl font-bold md:text-4xl">Tech Blogs</h3>
					<div class="flex flex-col items-center justify-center">
						<a href=""></a>
						{
							techPosts
								.slice(0, 4)
								.map((post) => (
									<BlogCard
										title={post.frontmatter.title}
										description={post.frontmatter.cardDescription}
										date={post.frontmatter.pubDate}
										url={post.url}
									/>
								))
						}
					</div>
				</div>
				<div class="m-6">
					<h3 class="text-3xl font-bold md:text-4xl">Self Improvement</h3>
					<div class="flex flex-col items-center justify-center">
						<a href=""></a>
						{
							improvementPosts
								.slice(0, 4)
								.map((post) => (
									<BlogCard
										title={post.frontmatter.title}
										description={post.frontmatter.cardDescription}
										date={post.frontmatter.pubDate}
										url={post.url}
									/>
								))
						}
					</div>
				</div>
			</div>
		</main>

