---
import ProjectCard from "./ProjectCard.svelte";
import SectionHeader from "./SectionHeader.svelte";

const projects = [
	{
		title: "Auto Typer",
		tech: "Python, Selenium, MatPlotLib",
		description:
			"Auto complete a typing test at a specified WPM, taking into account computational delays",
		url: "https://github.com/joemmalatesta/Auto-Typer",
		image: "/auto-typer.jpg"
	},
	{
		title: "Personal Website V1",
		tech: "HTML, CSS, Bootstrap, PHP, MySQL",
		description:
			"The first iteration of my website! My introduction to front end development.",
		url: "https://dev.joemmalatesta.com/",
		buttonText: "Go to old site",
		image: "/old-website.jpg"
	},
	{
		title: 'Discord "Yvy" Bot',
		tech: "Python, REST APIs, MongoDB",
		description:
			"Commands return concise information regarding osu! plays, and players.",
		url: "https://github.com/joemmalatesta/yvy-discord-bot",
		image: "/yvy-bot.jpg"
	},
	{
		title: "CaptChart",
		tech: "Javascript, Chartjs, Bootstrap",
		description:
			"Captcha completed by correctly identifying parts of a linear graph",
		url: "https://joemmalatesta.github.io/CapChart/",
		buttonText: "Try it out",
		image: "/capchart.jpg"
	},
];
---

<SectionHeader title={"Projects"} />
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
        projects.map((project) => (
            <ProjectCard
                title={project.title}
                tech={project.tech}
                description={project.description}
                url={project.url}
                buttonText={project.buttonText}
				image={project.image}
            />
        ))
    }
</div>
