---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
import Newsletter from '../components/Newsletter.svelte';

export interface Props {
	content: {
		// Maybe want to add blog title vs website title
		title: string;
		description: string;
		pubDate?: string;
		heroImage?: string;
		imageAlt?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage, imageAlt },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header client:load />
		<main class="md:mx-auto prose prose-indigo md:prose-lg mx-6">
			<article>
				<!-- Should Provide an Alt -->
				{heroImage && <img width={720} height={360} src={heroImage} alt={imageAlt} />}

				<!-- && means, show if pubDate has a value -->
				{pubDate && <time>{pubDate}</time>}
				<h1>{title}</h1>

				
				<!-- This is where the actual MD part goes. -->
					<slot/>

				<!-- Newsletter -->
				<div class="my-5">
					<Newsletter client:load/>
				</div>

			</article>
		</main>
		<Footer />
	</body>
</html>
