---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.svelte';
import Newsletter from '../components/Newsletter.svelte';
import Subscribe from '../components/subscribe.svelte';

export interface Props {
	content: {
		// Maybe want to add blog title vs website title
		title: string;
		description: string;
		pubDate?: string;
		heroImage?: string;
		imageAlt?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage, imageAlt },
} = Astro.props;
---

<html lang="en">
	<head>
		
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<!-- HEADER DOESN'T WORK ON THIS PAGE.. PLEASE TELL ME WHY -->
		<Header client:load />
		<main >
			<article class="md:mx-auto prose prose-invert prose-indigo md:prose-lg mx-6 prose-md pb-5 prose-quoteless">
				<!-- Should Provide an Alt -->
				<!-- Don't really need an image -->
				<!-- {heroImage && <img class="object-cover" src={heroImage} alt={imageAlt} />} -->

				<!-- && means, show if pubDate has a value -->
				<div class="mt-4">
				{pubDate && <time>{pubDate}</time>}
				<h1>{title}</h1>
				</div>

				
				<!-- This is where the actual MD part goes. -->
					<slot/>

					
			<!-- Add Twitter thing here my boy Ill do it rn. -->
			</article>
			<div class="flex justify-center items-center my-3">
			<Subscribe client:load forPost={true}/>
			</div>
			
		</main>
		<Footer />
		
	</body>
</html>
